<%- include("layouts/header",{user: user ? user : null}) %>
    <h2 class="page-header">Dashboard</h2>
    <p>Welcome to your dashboard</p>


    <div class="row">
        <div class="col-lg-12">
            <% if (success && success.message) { %>
                <div class="alert alert-success"><%= success.message %></div>
                <% } %>
            <% error && error.forEach(function(err) { %>
                <div class="alert alert-danger"><%= err %></div>
            <% }); %>
        </div>
    </div>

    <% include layouts/footer %>