<% include layouts/header %>

  <h2 class="page-header">Login</h2>
  <% errors && errors.forEach(function(err) { %>
    <div class="alert alert-danger"><%= err.msg %></div>
  <% }); %>
  <% if(messages && messages.success) { %>
    <div class="alert alert-success"><%= messages.success %></div>
  <% } %>
  <form method="post" action="/user/login">
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" required placeholder="Email" name="email" value="<%= user && user.email %>">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" required placeholder="Password" name="password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>

  <% include layouts/footer %>