<% include layouts/header %>

  <h2 class="page-header">Register</h2>
  <% errors && errors.forEach(function(err) { %>
    <div class="alert alert-danger"><%= err.msg %></div>
  <% }); %>
  <% if(messages && messages.success) { %>
    <div class="alert alert-danger"><%= messages.success %></div>
  <% } %>
  <form method="post" action="/user/register">
    <div class="form-group">
      <label>First name</label>
      <input type="text" class="form-control" required placeholder="Name" name="firstName" value="<%= user && user.firstName %>">
    </div>
    <div class="form-group">
      <label>Last name</label>
      <input type="text" class="form-control" required placeholder="Name" name="lastName" value="<%= user && user.lastName %>">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" required placeholder="Email" name="email" value="<%= user && user.email %>">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" required placeholder="Password" name="password">
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" class="form-control" required placeholder="Confirm password" name="passwordConfirm">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>

  <% include layouts/footer %>