body {
  margin: 0;
  padding: 0;
  width: 100% !important;
  max-width: 100% !important;
  font-family: $body-font-family;
  font-size: $textSmaller;
  font-weight: $regular-font-weight;
  line-height: $lineHeight;
  color: $bodyColor;
  background-color: $pageBackground;
  -ms-overflow-style: none;
}
  
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  color: $bodyColor;
  font-weight: 200;
  margin: auto;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 3em;
  line-height: 3.2em;
}
h2 {
  font-size: 2.5em;
  line-height: 2.7em;
}
h3 {
  font-size: 2em;
  line-height: 2.2em;
}
h4 {
  font-size: 1.8em;
  line-height: 2em;
}
h5 {
  font-size: 1.5em;
  line-height: 1.6em;
}
p, a {
  font-size: $textNormal;
  line-height: $textLarge;
}
.white {
  color: white;
}

a { 
  cursor: pointer;
  text-decoration: none;
}

input, textarea {
  font-size: $textSmall;
  font-family: $body-font-family;
}

ul {
  margin: 0;
}

.app-container {
  position: relative;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  appearance: none;
}

button,
input[type='checkbox'] {
  outline: none;
}

.explore-icon, 
.heart-icon, 
.profile-icon,
.delete-icon,
.settings-icon,
.search-icon,
.heart-white-full-icon,
.comment-icon,
.posts-icon,
.saved-icon,
.posts-selected-icon,
.saved-selected-icon {
  background-image: url('../media/images/d8787bdeb511.png');
}
.heart-white-full-icon {
  height: 20px;
  width: 20px;
  background-position: -592px -150px;
}
.comment-icon {
  height: 20px;
  width: 20px;
  background-position: -592px -130px;
}
.posts-icon {
  height: 14px;
  width: 14px;
  background-position: -592px -540px;
}
.posts-selected-icon {
  height: 14px;
  width: 14px;
  background-position: -592px -526px;
}
.saved-icon {
  height: 14px;
  width: 10px;
  background-position: -580px -528px;
}
.saved-selected-icon {
  height: 14px;
  width: 10px;
  background-position: -554px -322px;
}
.settings-icon {
  height: 24px;
  width: 24px;
  background-position: -458px -406px;
}
.search-icon {
  height: 17px;
  width: 17px;
  background-size: 400px 375px;
  background-position: -370px -40px;
}
.delete-icon {
  height: 15px;
  width: 15px;
  background-size: 400px 375px;
  background-position: -370px -108px;
}
.explore-icon {
  background-position: -566px -477px;
}
.heart-icon {
  background-position: -566px -320px;
}
.profile-icon {
  background-position: -434px -405px;
}
.explore-icon, .heart-icon, .profile-icon {
  height: 24px;
  width: 24px;
}