.header {
  height: 80px;
  background-color: white;
  border-bottom: 1px solid #DDD;

  .header-icon {
    width: 40px;
    height: auto;
  }
  .header-logo {
    width: 140px;
    height: auto;
  }
  .divider {
    width: 1px;
    height: 40px;
    margin: 0 1.5em;
    background-color: #CACACA;
  }

  .search-container {
    position: relative;
    min-width: 220px;
    border-radius: 3px;
    background: #fafafa;
    border: solid 1px #dbdbdb;
    font-size: $textNormal;
    font-weight: 300;
    padding: 0 20px 0 30px;
    .text-input {
      text-align: center;
      background-color: transparent;
      border: none;
      &:focus {
        outline: none;
      }
    }
    .search-icon {
      position: absolute;
      top: calc(50% - 8px);
      left: calc(50% - 50px);
    }
    .delete-icon-container {
      height: 19px;
      width: 19px;
      position: absolute;
      top: calc(50% - 10px);
      right: 5px;
      background-color: #959595;
      padding: 2px;
      border-radius: 12px;
    }
    &.selected {
      .text-input {
        text-align: left;
      }
      .search-icon {
        left: 5px;
      }
    }
  }

  .explore-icon, .heart-icon, .profile-icon {
    margin-right: 2em;
  }
}
