.login-form {
  width: 100%;
  padding: 5px 30px;

  .input-container {
    box-sizing: border-box;
    width: 100%;
    padding: 3px 0;
    position: relative;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    background: #fafafa;
    margin-bottom: 5px;
    &.transparent {
      background-color: transparent;
      border: none;
    }

    label {
      position: absolute;
      color: #999;
      font-size: 12px;
      height: 40px;
      left: 10px;
      line-height: 40px;
      overflow: hidden;
      pointer-events: none;
      position: absolute;
      right: 0;
      text-overflow: ellipsis;
      -webkit-transform-origin: left;
      transform-origin: left;
      -webkit-transition: -webkit-transform ease-out .1s;
      transition: transform ease-out .1s;
      transition: transform ease-out .1s,-webkit-transform ease-out .1s;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      white-space: nowrap;
      text-align: left;
      transition: all 0.1s linear;
    }

    &.not-empty {
      label {
        font-size: 9px;
        top: 0;
        left: 6px;
        line-height: 26px;
      }
      input {
        padding: 14px 0 6px 8px;
      }
    }
    &.error {
      padding-right: 35px;
    }
    &.focused {
      border: 1px solid #ababab;
    }

    input {
      width: 100%;
      margin: 0;
      border: none;
      background-color: transparent; 
      padding: 10px 0 10px 8px;
      height: 40px;
      line-height: 40px;
      border-radius: 3px;
      font-size: 14px;
      outline: none;
    }
    button {
      background: #3897f0;
      color: #fff;
      border: 1px solid $lightBlue;
      font-size: 14px;
      line-height: 28px;
      font-weight: 600;
      line-height: 26px;
      outline: 0;
      margin-top: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
      opacity: 0.3;
      &.checked {
        opacity: 1;
      }
      svg {
        margin-right: 8px;
      }
    }

    .error-x-container {
      position: absolute;
      top: 8px;
      right: 5px;
      width: 28px;
      height: 28px;
      padding: 2;
      border: 1px solid $red;
      border-radius: 16px;

      svg {
        width: 22px;
        height: 22px;
        color: $red;
      }
    }
  }

  .divider {
    width: 100%;
    .line {
      height: 1px;
      width: 100%;
      background-color: #eaeaea;
    }
    .text {
      width: 80px;
      text-transform: uppercase;
      text-align: center;
    }
  }
}