.edit-profile-container {
  color: $bodyColorDarker;
  max-width: 960px;
  margin: 0 auto;

  .inner-content {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin: 60px auto;
    max-width: 935px;
    overflow: hidden;
    width: 100%;
    min-height: 400px;

    .edit-nav {
      list-style: none;
      padding: 0;
      min-width: 260px;
      
      li {
        width: 100%;
        cursor: pointer;
        a {
          border-left: 2px solid transparent;
          display: block;
          padding: 16px 16px 16px 30px;
          width: calc(100% - 48px);
          color: $bodyColorDarker;
          &.selected {
            border-left: 2px solid #262626 !important;
          }
          &:hover {
            background-color: #fafafa;
            border-left: 2px solid #dbdbdb;
          }
        }
      }
    }
    .edit-content {
      width: 100%;
      min-height: 400px;
      border-left: 1px solid #dbdbdb;

      .left-side {
        clear: both;

        h1 {
          font-size: 20px;
          line-height: 20px;
          font-weight: 400;
          color: #000000;
          margin-bottom: 4px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        h2 {
          color: #999;
          font-size: 14px;
          font-weight: 600;
        }
        .button-text {
          color: #3897f0;
          font-size: 16px;
          line-height: 18px;
          font-weight: 400;
          cursor: pointer;
        }

        input, textarea {
          background: 0 0;
          border: 1px solid #efefef;
          border-radius: 3px;
          box-sizing: border-box;
          color: #262626;
          font-size: 16px;
          height: 32px;
          width: 60%;
          padding: 0 10px;
        }
        textarea {
          min-height: 60px;
          padding: 5px 10px;
        }
        input[type=checkbox] {
          margin-right: 5px;
          margin-top: 5px;
          width: 20px;
          height: 20px
        }
        input[type=submit] {
          background: #3897f0;
          border-color: #3897f0;
          color: #fff;
          -webkit-appearance: none;
          border-radius: 3px;
          border-style: solid;
          border-width: 1px;
          font-size: 14px;
          font-weight: 600;
          line-height: 26px;
          outline: 0;
          overflow: hidden;
          width: 120px;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .label-container {
          width: 160px;
          float: left;
          margin-right: 32px;

          label {
            color: #262626;
            font-size: 16px;
            font-weight: 600;
            line-height: 30px;
            text-align: right;
          }

          .image {
            width: 50px;
            height: 50px;
            border: 1px solid #dadada;
            border-radius: 25px;
            background-color: white;
          }
        }
      }
    }
  }
}