.login-container {
  min-height: 80vh;
  text-align: center;
}

.login-box {
  box-sizing: border-box;
  width: 350px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  padding: 10px 0;

  .login-logo {
    width: 200px;
    height: auto;
    margin: 5px;
  }
}

.store-img {
  width: 130px;
  height: auto;
}
.store-img:nth-of-type(1) {
  margin-right: 10px;
}