.signup-text-container {
    box-sizing: border-box;
    width: 100%;
    padding: 0 35px;
    text-align: center;

    h5, p {
        color: $bodyColor;
        margin: 0;
        font-weight: 300;

        a {
            color: $bodyColor;
            font-weight: 700;
        }
    }
    p {
        padding-top: 15px;
    }
}