.user-profile-container {
  color: $bodyColorDarker;
  max-width: 960px;
  margin: 0 auto;

  .top-container {
    width: 100%;

    .image-container {
      padding:  50px 40px;
      .image {
        width: 150px;
        height: 150px;
        margin-right: 3rem;
        border: 1px solid #dadada;
        border-radius: 75px;
        background-color: white;
      }
    }
    .user-details-container {
      flex: 1;
      padding: 10px 0;

      .username-text {
        font-size: 32px;
        line-height: 40px;
        font-weight: 200;
        color: $bodyColorDarker;
      }

      .edit-profile {
        padding: 0.5em 2em;
        border: 1px solid #dadada;
        font-size: $textNormal;
        color: $bodyColorDarker;
      }

      .settings-icon {
        margin-right: 2em;
      }

    }
  }
  .tabs-container {
    width: 100%;
    border-top: 1px solid #eaeaea;

    .tab {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 18px 5px;
      margin: 0 20px;
      margin-top: -1px;
      border-top: 1px solid dadada;
      &.selected {
        margin-top: -1px;
        border-top: 1px solid #323232;
      }
      .icon {
        margin-right: 4px;
      }
    }
  }
  .posts {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    margin-bottom: 50px;

    .post {
      position: relative;
      width: 33%;
      height: 30vh;
      background-color: #eaeaea;
      margin-bottom: 5px;

      .inner-container {
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
        background-color: rgba(0,0,0,0.4);

        &:hover {
         opacity: 1;
        }

        .comment-icon, .heart-white-full-icon {
          margin-bottom: 4px;
        }
      }
    }
  }

  .todo-container {
    min-height: 400px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    h2, h3 {
      color: #fbd9d9;
      text-transform: uppercase;
      margin: 0;
    }
  }
}