<!DOCTYPE html>
<html>

<head>
    <title>Instagram Clone</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <% if (user && user.accessToken) {%>
                        <li role="presentation">
                            <a href="/user/logout">Logout</a>
                        </li>
                    <% } %>
                    <% if (!user || !user.accessToken) { %>
                        <li role="presentation">
                                <a href="/user/login">Log in</a>
                            </li>
                            <li role="presentation">
                                <a href="/user/register">Register</a>
                            </li>
                    <% } %>
                </ul>
            </nav>
            <a href="/"></a><h3 class="text-muted">InstagramClone</h3></a>
        </div>