// Variables

// breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 480px;
$breakpoint-md: 600px;
$breakpoint-mds: 960px;
$breakpoint-lg: 1240px;
$breakpoint-xl: 1440px;

$container-xs: 0;
$container-sm: 480px;
$container-md: 600px;
$container-mds: 920px;
$container-lg: 1040px;
$container-xl: 1240px;

$grid-breakpoints: (
  xs: $breakpoint-xs,
  sm: $breakpoint-sm,
  md: $breakpoint-md,
  mds: $breakpoint-mds,
  lg: $breakpoint-lg,
  xl: $breakpoint-xl,
) !default;

$container-max-widths: (
  xs: $container-sm,
  sm: $container-md,
  md: $container-mds,
  mds: $container-mds,
  lg: $container-lg,
  xl: $container-xl,
) !default;

// colors
$primary: #010811;
$secondary: #FF0049;

$bodyColor:#999999;
$bodyColorDarker: #262626;

$pageBackground: #FAFAFA;
$navColor: #808388;
$buttonColor: #EA0A4A;
$green: green;

$darkBlue: #003569;
$lightBlue: #3897f0;
$red: #ed4956;
